		<section>
			<div class="main" id="Home ">
				<div class="main_content">
					<div class="main_text">
						<h1>B-Trip <br><span>Tours</span> </h1>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati cumque impedit, dolore
							voluptatem adipisci recusandae illum aliquam tempore aliquid incidunt autem consectetur ab sit
							sed, suscipit cum omnis deleniti ullam.
						</p>

					</div>
					<div class="main_image">
						<img src="~/files/WhatsApp_Image_2024-02-20_at_00.01.18_b6a456c2-removebg-preview.png" alt="">
					</div>
				</div>
				<div class="social_icon">
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-twitter"></i>
				</div>
				<div class="button">
					<a href="#">Start Now </a>
					<i class="fa-solid fa-chevron-right"></i>
				</div>

			</div>

	</section>




