<div class="products" id="products">
    <h1>العروض الحديثه </h1>

    <div class="box">
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">
            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
            </div>
            <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">

            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pixabay-258154.jpg" alt="">

            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">

            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">

            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">

            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">

            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>
        <div class="card">
            <div class="small_card">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
            </div>

            <div class="image">
                <img src="~/files/pexels-pascal-borener-113017-removebg-preview.png" alt="">

            </div>
            <div class="products__text">
                <h2>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente reiciendis praesentium sit
                    sequi
                    quam facere nesciunt nobis eveniet iusto iste nulla delectus tempore, eligendi voluptate.
                </p>
                <h3>1000جنيه</h3>
                <div class="product_star">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>

                </div>
                <a href="">
                    ticket Now
                </a>
            </div>

        </div>






    </div>
</div>
