
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="form">
    <div class="right">
        <h1>Login</h1>
        <form action="#" method="post">
            <div class="user">
                <i class="fa-solid fa-user"></i>
                <input type="text" class="username" name="username" placeholder="Username">
            </div>
            <div class="password">
                <i class="fa-solid fa-lock"></i>
                <input type="password" class="password" name="password" placeholder="Password">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>