
@{
    ViewData["Title"] = "Sign";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="form">
    <div class="right">
        <h1>Register</h1>
        <form action="#" method="post">
            <div class="FirstName ">
                <input type="text" class="username" name="FirstName " placeholder="FirstName">
            </div>
            <div class="LastName ">
                <input type="text" class="LastName" name="LastName" placeholder="LastName">
            </div>
            <div class="EmailAddress">
                <input type="email" class="email" name="email" placeholder="Email address">
            </div>
            <div class="password">
                <input type="password" class="password" name="password" placeholder="Password">
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
