<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="~/files/style.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
	@* <link href="~/lib/bootstrap/js/bootstrap.bundle.js" rel="stylesheet" /> *@

</head>
<body>
			<div class=" row justify-content-center align-items-center p-4 m-3 ">
				@RenderBody()
			</div>
				
</body>
</html>
